# Django settings for django_regnskap project.

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'regnskap',                      # Or path to database file if using sqlite3.
        'USER': 'regnskap',                      # Not used with sqlite3.
        'PASSWORD': 'X4y8ZCtGW3Uj93rX',                  # Not used with sqlite3.
        'HOST': '192.168.1.11',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

DATABASE_OPTIONS = {
   "init_command": "SET storage_engine=INNODB",
}

DROPBOX_SETTINGS = {
  'app_key'    : "insert key",
  'app_secret' : "insert secret",
  'type'       : "app_folder",
}

MEDIA_ROOT = ""

SERVE_MEDIA_IN_PYTHON = False

#Change this secret key!!
SECRET_KEY = '$#^vz+bplxugid_28g+(5y*+&+o!ik3p$bdcs_67reqi^wacf4'
