# Django settings for django_regnskap project.

DATABASES = {
    'default': {
        'ENGINE': 'mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'regnskap',                      # Or path to database file if using sqlite3.
        'USER': 'regnskap',                      # Not used with sqlite3.
        'PASSWORD': 'X4y8ZCtGW3Uj93rX',                  # Not used with sqlite3.
        'HOST': '192.168.1.11',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

DROPBOX_SETTINGS = {
  'app_key'    : "insert key",
  'app_secret' : "insert secret",
  'type'       : "app_folder",
}