backports.functools-lru-cache==1.5
cycler==0.10.0
Django==1.8
django-extensions==1.6.1
dropbox==6.4.0
et-xmlfile==1.0.1
jdcal==1.2
kiwisolver==1.0.1
MySQL-python==1.2.5
numpy==1.14.3
oauth==1.0.1
openpyxl==2.3.5
Pillow==3.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
reportlab==3.3.0
requests==2.10.0
simplejson==3.8.2
six==1.10.0
subprocess32==3.2.7
urllib3==1.16
mysqlclient