{% extends "base.html" %}
{% block title %}Bilag {{bilag.bilagsnummer}} {{bilag.dato}}{% endblock %}

{% block content %}
<h1>Bilag {{bilag.bilagsnummer}} {{bilag.dato}}</h1>
<p>{{bilag.beskrivelse}}</p>
<table>
  <tr>
    <th>Konto</th>
    <th>Debit</th>
    <th>Kredit</th>
  </tr>
  {% for innslag in bilag.getInnslag %}
  <tr>
    <td>{{innslag.konto}}</td>
    <td>{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td>{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
  </tr>
{% endfor %}
</table>
{% if bilag.files.all %}
<h2>Filer</h2>
<ul>
  {% for file in bilag.files.all %}
  <li><a href="{{file.url}}">{{file.file}}</a></li>
  {% endfor %}
</ul>
{% endif %}
<h2>Last opp flere filer</h2>

{% endblock %}
