{% extends "base.html" %}
{% block title %}Bilag {{bilag.bilagsnummer}} {{bilag.dato}}{% endblock %}

{% block content %}
<h1>Bilag {{bilag.bilagsnummer}} {{bilag.dato}}</h1>
<p>{{bilag.beskrivelse}}</p>
<table>
  <tr>
    <th>Konto</th>
    <th>Debit</th>
    <th>Kredit</th>
  </tr>
  {% for innslag in bilag.getInnslag %}
  <tr>
    <td>{{innslag.konto}}</td>
    <td>{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td>{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
  </tr>
{% endfor %}
</table>
{% if bilag.files.all %}
<h2>Filer</h2>
<ul>
  {% for file in bilag.files.all %}
  <li><a href="{{file.url}}">{{file.file}}</a></li>
  {% endfor %}
</ul>
{% endif %}
<h2>Last opp flere filer</h2>
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
<table>
  <tr>
    <th>Upload New File</th>
    <td>{{bilag_file_form.currentUpload}}</td>
  </tr>
  <tr>
    <th>Previously uploaded files</th>
    <td>
      <ul id="fileList">
        {% for file, label in bilag_file_form.fields.previousUploads.choices %}
        <li><label><input type="checkbox" id="asdf" value="{{file}}" name="files-previousUploads"><a href="/media/upload/{{file}}">{{label}}</a></label></li>
        {% endfor %}
      </ul>
    </td>
  </tr>
</table>
<input type="submit">
</form>
{{bilag_file_form}}
{% endblock %}
