{% extends "base.html" %}
{% block title %}Konto {{konto}}{% endblock %}

{% block content %}
<h1>{{konto}}</h1>
{% for year in years %}
<img src="/regnskap/show/konto_graph/{{year}}/{{konto.id}}.png">
{% endfor %}
<h2>Sisste bilag</h2>
<table>
  <tr>
    <th colspan="3">Dato</th>
    <th>Bilag #</th>
    <th>Beskrivelse</th>
    <th>Debet</th>
    <th>Kredit</th>
    <th>Ekstern</th>
  </tr>
{% for innslag in innslags %}
  <tr>
    <td>
      {% ifchanged innslag.bilag.dato|date:"Y" %}
      <b>{{innslag.bilag.dato|date:"Y"}}</b>
      {% endifchanged %}
    </td>
    <td>
      {% ifchanged innslag.bilag.dato|date:"b" %}
      {{innslag.bilag.dato|date:"b"}}
      {% endifchanged %}
    </td>
    <td class='tableNumber'>{{innslag.bilag.dato|date:"j"}}</td>
    <td class="tableNumber">
      <a href="{{innslag.bilag.get_absolute_url}}">
      #{{innslag.bilag.bilagsnummer}}
      </a>
    </td>
    <td>{{innslag.bilag.beskrivelse}}</td>
    <td class="tableNumber">{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td class="tableNumber">{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    <td><a href="{{innslag.bilag.external_actor.get_absolute_url}}">{{innslag.bilag.external_actor}}</a></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
