{% extends "base.html" %}
{% block title %}Konto {{konto}}{% endblock %}

{% block content %}
<h1>{{konto}}</h1>
<p>{{konto.beskrivelse}}</p>
<a href="{{konto.get_admin_url}}">Rediger</a>
<div id="konto_graph_slide">
  {% for year in years %}
    {#<img {% if forloop.first %}class="active"{% endif %} year ="{{year}}" src="/regnskap/show/konto_graph/{{year}}-{{konto.id}}.png">#}
    <img {% if forloop.first %}class="active"{% endif %} year ="{{year}}" src="/regnskap/show/konto_graph/{{year}}-{{konto.id}}.png">
  {% endfor %}
</div>
<h2>Sisste bilag</h2>
<table>
  <tr>
    <th colspan="3">Dato</th>
    <th>Bilag #</th>
    <th>Beskrivelse</th>
    <th>Debet</th>
    <th>Kredit</th>
    <th>Mot konto</th>
    <th>Ekstern</th>
  </tr>
{% for bilag in bilags %}
  <tr>
    <td>
      {% ifchanged bilag.dato|date:"Y" %}
      <b>{{bilag.dato|date:"Y"}}</b>
      {% endifchanged %}
    </td>
    <td>
      {% ifchanged bilag.dato|date:"b" %}
      {{bilag.dato|date:"b"}}
      {% endifchanged %}
    </td>
    <td class='tableNumber'>{{bilag.dato|date:"j"}}</td>
    <td class="tableNumber">
      <a href="{{bilag.get_absolute_url}}">
      {{bilag.getNummer}}
      </a>
    </td>
    <td>{{bilag.beskrivelse}}</td>
    {% for innslag in bilag.innslag.all %}
    {% if innslag.konto == konto%}
    <td class="tableNumber">{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td class="tableNumber">{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    {% endif %}
    {% endfor %}
    <td>
      {% if bilag.innslag.all|length <= 4 %}
        {% for innslag in bilag.innslag.all %}
          {% if konto != innslag.konto %}
            <a title="{{innslag.konto.prosjekt}}/{{innslag.konto.tittel}}&#10;{{innslag.konto.beskrivelse}}" href="{{innslag.konto.get_absolute_url}}">{{innslag.konto.nummer}}</a>
          {% endif %}
        {% endfor %}
      {% else %}
      <a href="{{bilag.get_absolute_url}}" title="Det er for mange kontoer til at det ikke øndelegger tabellen å vise alle">...</a>
      {% endif %}
    </td>
    <td><a href="{{bilag.external_actor.get_absolute_url}}">{{bilag.external_actor}}</a></td>
  </tr>
{% endfor %}
</table>

{% if konto.kontoType == 1 or konto.kontoType == 2 %}
For mellomværende kontoer kan det være greit å se på <a href="/regnskap/rapport/konto_imbalance/{{konto.id}}">Ubalanse per ekstern aktør</a>
{% endif %}

<script>
$(document).ready(function(){
  // cheat so that the function uses this like a jquery module would do
  // sometime it might be moved to a separate jquery module if need might rise
  $("#konto_graph_slide").each(function(){
    var years = {};
    var years_list = [];
    // remove $() on this if changed into jquery plugin
    var prev_active = $(this).children("img.active");
    var img = $(this).children("img");
  
    img.each(function(){
      var year = this.attributes['year'].value
      years[year] = $(this);
      years_list.push(year);
    });
    img.click(function(){
      prev_active.removeClass('active');
      //rotate years_list
      years_list.push(years_list.shift());

      prev_active = years[years_list[0]];
      prev_active.addClass('active');
    });
  });
});
</script>
{% endblock %}
