/* general reset */
img{
   border:0;
}

/* Special stylings for django messages */
ul.messages > li{
	padding:5px;
	display:inline;
}
ul.messages > li.debug{
	color:gray;
}
ul.messages > li.info{
	background-color:yellow;
}
ul.messages > li.success{
	background-color:green;
}
ul.messages > li.warning{
	background-color:red;
}
ul.messages > li.error{
	background-color:red;
}

/************************
 * Bilags registrering  *
 ***********************/
#diffDebitkredit{
   background-color:red;
   padding:10px;
   margin:15px;
   display:none;
   float:center;
}
#datepicker{
   float:left;
}
/* kontakt search box */
.search-div{
   position: absolute;
   background-color: wheat;
}
.search-div > div:hover{
   background-color: yellow;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
.tableNumber{
    text-align: right;
    font:monospace;
}

/*Bilagsliste*/
table{
   border-collapse:collapse
}
.BilagListe .topBorder{
   border-top: 1px solid black;
}
.BilagListe td{
   padding: 3px;
   border-left: 1px dashed black;
   border-right: 1px dashed black;
}
.rowTable {
   margin: 20px;
   margin-top:0px;
}
.rowTable td{
   padding: 2px;
   padding-right: 5px;
}
.rowTable td:nth-child(3){
   border-left: 1px solid black;
}
.rowTable th:last-child{
   border-left: 1px solid black;
}
.rowTable tr:last-child{
   border-top: 2px solid black;
}
.rowTable tr:first-child{
   border-bottom: 2px solid black;
}

/* bilagsliste debit-kredit*/
.debit-kredit-regnskap td{
    padding: 2px;
}
.debit-kredit-regnskap td:nth-child(even){
    border-left: 1px dashed black;
}
.debit-kredit-regnskap td:nth-child(odd){
    border-left: 2px solid black;
}
.debit-kredit-regnskap th{
    border-left: 2px solid black;
    border-top:2px solid black;
}
.debit-kredit-regnskap th:nth-child(2){
    border-left: none;
}
.debit-kredit-regnskap th:last-child{
    border-right: 2px solid black;
}
.debit-kredit-regnskap td:last-child{
    border-right: 2px solid black;
}

.debit-kredit-regnskap tr:nth-child(3){
    border-top: 3px solid black;
}
