<table class="BilagListe">
  <tr>
    <th>#</th>
    <th>Dato</th>
    <th>Beskrivelse</th>
    <th>Hvem?</th>
    <th>Konto</th>
    <th>Debet</th>
    <th>Kredit</th>
  </tr>
  {% for bilag in bilags %}
  {% for innslag in bilag.getInnslag %}
  <tr>
    {% ifchanged bilag %}
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder"><a href="/regnskap/show/bilag/{{bilag.id}}">{{bilag.bilagsnummer|default:"&nbsp;"}}</a></td>
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">{{bilag.dato|date:"j. b"|default:"&nbsp;"}}</td>
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">
      {{bilag.beskrivelse|default:"&nbsp;"}}
      {% if bilag.innslag_sum %}
      <br>
      <span style="color: yellow; background-color: red; border: 2px solid red">
        Dette bilaget har inkonsistente innslag slik at summen ikke blir 0 men {{bilag.innslag_sum}}!!!!
      </span>
      {% endif %}
    </td>
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">
      {% with bilag.external_actor as ea %}
      {% if ea %}
      {{ea.name}}
      (<a href="{{ea.get_absolute_url}}">{{ea.id}}</a>)
      {% else %}
      &nbsp;
      {% endif %}
      {% endwith %}
    </td>
    <td class="topBorder">
      <a href="{{innslag.konto.get_absolute_url}}">{{innslag.konto.nummer}}</a>
      {{innslag.konto.tittel}}
    </td>
    <td class="topBorder">{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td class="topBorder">{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    {% else %}
    <td>
      <a href="{{innslag.konto.get_absolute_url}}">{{innslag.konto.nummer}}</a>
      {{innslag.konto.tittel}}
    </td>
    <td>{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td>{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    {% endifchanged %}
  </tr>
  {% empty %}
  <tr><td colspan="7"><span style="color: yellow; background-color: red; border: 2px solid red">
    Bilag <a href="/regnskap/show/bilag/{{bilag.id}}">{{bilag.bilagsnummer|default:"&nbsp;"}}</a> har ingen innslag!!!
  </span></td></tr>
  {% endfor %}
  {% endfor %}
</table>