<table class="BilagListe">
  <tr>
    <th>Dato #</th>
    {% if not prosjekt %}<th>Prosjekt</th>{% endif %}
    <th>Beskrivelse</th>
    <th>Hvem?</th>
    <th style="min-width: 200px">Konto</th>
    <th>Debet</th>
    <th>Kredit</th>
  </tr>
  {% for bilag in bilags %}
  {% for innslag in bilag.getInnslag %}
  <tr>
    {% ifchanged bilag %}
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">
      {% autoescape off %}
      {{bilag.dato|date:"j.&\n\b\sp;b"}}
      {% endautoescape %}
      <br>
      <a href="{{bilag.get_absolute_url}}">{{bilag.dato.year}}&#8209;{{bilag.bilagsnummer}}</a>
    </td>
    {% if not prosjekt %}<td rowspan="{{bilag.getNumInnslag}}" class="topBorder">{{bilag.prosjekt}}</td>{% endif %}
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">
      {{bilag.beskrivelse|default:"&nbsp;"}}
      {% if bilag.innslag_sum %}
      <br>
      <span style="color: yellow; background-color: red; border: 2px solid red">
        Dette bilaget har inkonsistente innslag slik at summen ikke blir 0 men {{bilag.innslag_sum}}!!!!
      </span>
      {% endif %}
    </td>
    <td rowspan="{{bilag.getNumInnslag}}" class="topBorder">
      {% with bilag.external_actor as ea %}
      {% if ea %}
      {{ea.name}}
      (<a href="{{ea.get_absolute_url}}">{{ea.id}}</a>)
      {% else %}
      &nbsp;
      {% endif %}
      {% endwith %}
    </td>
    <td class="topBorder">
      <span title="{{innslag.konto.beskrivelse}}">
        <a href="{{innslag.konto.get_absolute_url}}">{{innslag.konto.nummer}}</a>
        {{innslag.konto.tittel}}
      </span>
    </td>
    <td class="topBorder">{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td class="topBorder">{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    {% else %}
    <td>
      <span title="{{innslag.konto.beskrivelse}}">
        <a href="{{innslag.konto.get_absolute_url}}">{{innslag.konto.nummer}}</a>
        {{innslag.konto.tittel}}
      </span>
    </td>
    <td>{{innslag.debit|default_if_none:"&nbsp;"}}</td>
    <td>{{innslag.kredit|default_if_none:"&nbsp;"}}</td>
    {% endifchanged %}
  </tr>
  {% empty %}
  <tr><td colspan="7"><span style="color: yellow; background-color: red; border: 2px solid red">
    Bilag <a href="/regnskap/show/bilag/{{bilag.id}}">{{bilag.bilagsnummer|default:"&nbsp;"}}</a> har ingen innslag!!!
  </span></td></tr>
  {% endfor %}
  {% endfor %}
</table>