{% extends "base.html" %}
{% block title %}Regnskapssystem for Trondheim Kristne studentlag{% endblock %}

{% block content %}
<h1>Regnskapssystem for Trondheim Kristne studentlag</h1>

Her kan man se på ulike ting

<h3>Registrer bilag</h3>
<ul>
{% for p in prosjekt %}
<li>
  <a href="registrer/{{ p.navn }}">{{ p.navn}}</a>: {{p.beskrivelse}}
</li>
{% endfor %}
</ul>

<h3>Registrer faktura</h3>
<ul>
{% for faktura_t in faktura_templates %}
<li>
{% ifchanged faktura_t.prosjekt %}
<b>{{faktura_t.prosjekt.navn}}</b> (<a href="/faktura/list/{{faktura_t.prosjekt.navn}}">liste</a>)<br>
{% endifchanged %}
<a href="{{faktura_t.get_absolute_url}}">{{faktura_t}}</a>
</li>
{% endfor %}
</ul>
<h3>Årsoversikter</h3>
<ul>
  {% for year in years %}
  <li>{{year}}
    <ul>
    {% for p in prosjekt %}
    <li>{{p.beskrivelse}}<br>
      <a href="rapport/year/{{ p }}{{year}}.html">{{p}}{{year}}.html</a>
    </li>
    {% endfor%}
      <li>Excel<br>
        <a href="rapport/year/{{year}}.xls">regnskap{{year}}.xls</a>
      </li>
      <li>Konsern<br>
        <a href="rapport/year/{{year}}.html">{{year}}.html</a>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>

<h3>Admin</h3>
<a href="/admin">Her</a> kan du bruke det automatisk genererte systemet for å endre kontoer, prosjekt og eksterne brukere

<h3>Oversikter</h3>
<ul>
  <li><a href="/regnskap/show/konto/">Kontoer</a></li>
  <li><a href="/regnskap/show/external_actor">Eksterne aktører</a></li>
  <li><a href="/faktura/list/1">Fakturaer på vaktmester</a></li>
</ul>

<h3>Statiske sider</h3>
{% load flatpages %}
{% get_flatpages as flatpages %}
<ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>


{% endblock %}