{% extends "base.html" %}
{% block title %}Regnskapssystem for Trondheim kristelige studentlag{% endblock %}

{% block content %}
<h1>Regnskapssystem for Trondheim kristelige studentlag</h1>

<h3>Registrer bilag</h3>
<ul>
{% for p in prosjekt %}
<li>
  <a href="registrer/{{ p.navn }}">{{ p.navn}}</a>: {{p.beskrivelse}}<br>
  <small>(<a href="registrer/{{p.navn}}/kontoutskrift">Kontoutskrift</a>, <a href="registrer/{{p.navn}}/drafts">kladd</a>)</small>
</li>
{% endfor %}
</ul>

<h3>Registrer faktura</h3>
<ul>
{% for faktura_t in faktura_templates %}
<li>
{% ifchanged faktura_t.prosjekt %}
<b>{{faktura_t.prosjekt.navn}}</b> (<a href="/faktura/list/{{faktura_t.prosjekt.navn}}">fakturaer</a>, <a href="/faktura/list_vare/{{faktura_t.prosjekt.navn}}">varer</a>)<br>
{% endifchanged %}
<a href="{{faktura_t.get_absolute_url}}">{{faktura_t}}</a>
</li>
{% endfor %}
</ul>
<h3>Årsoversikter</h3>

<table>
  <thead>
    <tr>
      <th>År</th>
      <th>Excel</th>
      <th>Konsern</th>
      {% for p in prosjekt %}
      <th title="{{p.beskrivelse}}">
        {{p|upper}}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for year, prosjekts in years %}
    <tr>
      <td>{{year}}</td>
      <td><a href="rapport/year/{{year}}.xls">regnskap{{year}}.xls</a></td>
      <td><a href="rapport/year/{{year}}.html">{{year}}.html</a></td>
      {% for p, resultat_ok, balanse_ok in prosjekts %}
      <td>
        <a href="rapport/year/{{ p }}{{year}}.html">{{p}}{{year}}.html</a>
        {% if not resultat_ok %}
        <img title="Resultat er ikke ført til egenkapital" height="12px" widht="12px" src="/static/Actions-messagebox-warning-icon.png">
        {% elif not balanse_ok %}
        <img title="Utgående balanse er ikke ført" height="12px" widht="12px" src="/static/Actions-messagebox-warning-icon.png">
        {% else %}
        <img title="Regnskapet er resultat og balanseført" height="12px" widht="12px" src="/static/Actions-dialog-ok-apply-icon.png">
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Admin</h3>
<a href="/admin">Her</a> kan du bruke det automatisk genererte systemet for å endre kontoer, prosjekt og eksterne brukere

<h3>Oversikter</h3>
<ul>
  <li><a href="/regnskap/show/sisste_bilag/10">Siste bilag</a></li>
  <li><a href="/regnskap/show/konto/">Kontoer</a></li>
  <li><a href="/regnskap/show/external_actor">Eksterne aktører</a></li>
  <li><a href="/faktura/list/1">Fakturaer på vaktmester</a></li>
</ul>

<h3>Statiske sider</h3>
{% load flatpages %}
{% get_flatpages as flatpages %}
<ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>


{% endblock %}
