{% extends "base.html" %}
{% block title %}Regnskapssystem for Trondheim Kristne studentlag{% endblock %}

{% block content %}
<h1>Regnskapssystem for Trondheim Kristne studentlag</h1>

Her kan man se på ulike ting

<h3>Registrer bilag</h3>
<a href="registrer">Her kan du registrere bilag</a>

<h3>Årsoversikter</h3>
<ul>
  <li>2011
    <a href="rapport/year/2011.html">.html</a>
    <a href="rapport/year/2011.xls">.xls</a>
  </li>
  <li>2012
    <a href="rapport/year/2012.html">.html</a>
    <a href="rapport/year/2012.xls">.xls</a>
  </li>
  <li>2013
    <a href="rapport/year/2013.html">.html</a>
    <a href="rapport/year/2013.xls">.xls</a>
  </li>
</ul>


{% endblock %}