<html>
<head>
<title>{% block title %}Regnskap for Trondheim kristne studentlag {% endblock %}</title>

<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/js/SelectSearchBox.js"></script>
<script type="text/javascript" src="/static/js/contactSearchBox.js"></script>
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link type="text/css" href="/static/jquery/ui/jquery-ui-1.8.18.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="/static/jquery/ui/jquery-ui-1.8.18.custom.min.js"></script>


</head>


<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %} 
No Content
{% endblock %}

</body>
</html>
