{% extends "base.html" %}

{% block title %}Registrering av billag {% endblock %}

{% block content %}
<form action="{{url}}" method="post">{% csrf_token %}

<table>
{{bilagform}}
</table>
{{ innslagform.management_form }}
<table>
<tr>
    <th>S&oslash;k</th>
    <th>Konto</th>
    <th>Eiendeler<br>1XX</th>
    <th>Egenkaptial<br>/Gjeld<br>2XX</th>
    <th>Inntekt<br>3XX</th>
    <th>Kostnad<br>4XX - 8XX</th>
    <th>Debet</th>
    <th>Kredit</th>
</tr>
{% for innslag in innslagform %}
<tr>
  <td><input class="kontosok" type="text" row="{{searchcounter.next}}" size="5"/></td>
  <td class="kontoSelect">{{ innslag.kontos }}</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="innslag debit">{{ innslag.debit }}</td>
  <td class="innslag kredit">{{ innslag.kredit }}</td>
  <td>
    <button class="balance-row" row="{{buttoncounter.next}}" type="button">Balance</button>
  </td>
</tr>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Sum:<span id="debit_sum"></span></td>
  <td>Sum:<span id="kredit_sum"></span></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"><span id="diffDebitkredit"></span></td>
</tr>
</table>
<input type="submit" value="Submit" />
</form>
<div id="kontos" style="display:none">
  {% for konto in kontos %}
  <span kontonummer="{{konto.nummer}}" kontonavn="{{ konto.nummer }}{{konto.tittel}}">
    <span class="kontonummer">{{ konto.nummer }}</span>
    <span class="kontonavn">{{ konto.tittel }}</span>
  </span>
  {% endfor %}
</div>
<script>
function update(){
  var debit = 0;
  $(".debit > input").each(function(){
    if(this.value){
      var v = parseFloat(this.value);
      debit += v;
      this.value = v.toFixed(2);  
      deactivateTwinField(this,true);
    }else{
      deactivateTwinField(this,false)
    }
  });
  $("#debit_sum").text(debit.toFixed(2));
  var kredit = 0;
  $(".kredit > input").each(function(){
    if(this.value){
      var v = parseFloat(this.value);
      kredit += v;
      this.value = v.toFixed(2);
      deactivateTwinField(this,true);
    }else{
      deactivateTwinField(this,false);
    }
  });
  $("#kredit_sum").text(kredit.toFixed(2));
  if(debit - kredit != 0){
    $("#diffDebitkredit").text("Error " + (debit-kredit).toFixed(2)).show();
  }else{
    $("#diffDebitkredit").hide();
  }
  return debit-kredit;
}
/* get a reference to the similar field debit->kredit kredit->debit */
function deactivateTwinField(feld, disabled){
  feld = feld.parentNode
  if(feld.className == "innslag debit"){
    do feld = feld.nextSibling;
    while(feld.nodeType != 1);
  }else{
    do feld = feld.previousSibling;
    while(feld.nodeType != 1);
  }
  feld.children[0].disabled = disabled;
}

function balance(){
  var row = this.attributes['row'].value
  // zero this row
  var d = $("#id_innslag-"+row+"-debit")[0];
  d.value = "";
  var c = $("#id_innslag-"+row+"-kredit")[0];
  c.value = "";
  var diff = update();
  if(diff<0){
    d.value = (-diff).toFixed(2);
  }else if(diff > 0){
    c.value = diff.toFixed(2);
  }
  update();// ensure the difference warning is removed
}
function search(){
  var reg = new RegExp(this.value,"i");
  var count = 0;
  var matchkonto;
  $("#kontos > span").each(function(){
    if(this.attributes['kontonavn'].value.match(reg)){
      this.style.display = "block";
      count++;
      matchkonto = this.attributes['kontonummer'].value;
    }else{
      this.style.display = "none";
    }
  });
  if(count == 1){// only one konto match search string
    var row = this.attributes['row'].value;
    var select = $("#id_innslag-"+row+"-kontos");
    select[0].value = matchkonto;
    select.change();
    $("#id_innslag-"+row+"-debit")[0].focus();
    this.value = "";
  }
}
function startsearch(){
  this.value = "";
  // .position() uses position relative to the offset parent, 
  var pos = $(this).position();

  // .outerWidth() takes into account border and padding.
  var width = $(this).outerWidth();
  
  $("#kontos").css({
    position: "absolute",
    top: pos.top + "px",
    left: (pos.left + width) + "px"
  }).show();
}
function endsearch(){
  $("#kontos > span").each(function(){
    this.style.display = "block";
  });
  $("#kontos").hide();
}

function colorGrid(){
  var konto = Math.floor(parseInt(this.childNodes[0].value)/100);
  //clear all colors
  var node = this.nextElementSibling;
  if (konto > 4){
    konto = 4;
  }
  for(i = 1; i<5; i++){
    if(konto == i){
      node.style.backgroundColor = "red";
    }else{
      node.style.backgroundColor = "";
    }
    node = node.nextElementSibling;
  }
}

$(document).ready(function(){
  $(".innslag").change(update);
  $(".balance-row").click(balance);
  $(".kontosok").keyup(search);
  $(".kontosok").focusin(startsearch);
  $(".kontosok").focusout(endsearch);
  $(".kontoSelect").change(colorGrid);
});
  
</script>
{% endblock %}