{% extends "base.html" %}

{% block title %}Registrering av billag {% endblock %}

{% block content %}
<h1>Registrer bilag på {{prosjekt.navn}}</h1>
<form action="{{url}}" enctype="multipart/form-data" method="post">{% csrf_token %}
{{ bilagform.non_field_errors }}

<div style="float:right">
  <h3>Hvem?</h3>
  <table>
    <tr>
      <th>
        <label for="id_external-id">Id:</label>
      </th>
      <td>
        <input id="id_external-id" type="text" maxlenght="100" name="external-id" value="{{ external_id }}"/> (Søk etter eksisterende kontakter her)
      </td>
    </tr>
    {{ external_a_form }}
  </table>
</div>

<table>
{{ bilagform }}
</table>

{{ innslagform.management_form }}
{{ innslagform.formset.non_form_errors }}

<table style="float:left">
<tr>
    <th>S&oslash;k</th>
    <th>Konto</th>
    <th>Eiendeler<br>1XX</th>
    <th>Egenkaptial<br>/Gjeld<br>2XX</th>
    <th>Inntekt<br>3XX</th>
    <th>Kostnad<br>4XX - 8XX</th>
    <th>Debet</th>
    <th>Kredit</th>
</tr>
{% for innslag in innslagform %}
<tr class="kontoRow">
  <td class="kontoSokField"><input class="kontosok" type="text" row="{{forloop.counter0}}" size="5"/></td>
  <td class="kontoSelect">{{ innslag.kontos }}{{ innslag.kontos.errors }}</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class="innslag debit">
    {{ innslag.debit }}{{ innslag.debit.errors }}
  </td>
  <td class="innslag kredit">
    {{ innslag.kredit }}{{ innslag.kredit.errors }}
  </td>
  <td>
    <button class="balance-row" row="{{forloop.counter0}}" type="button" tabindex="-1">Balance</button>
  </td>
</tr>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Sum:<span id="debit_sum"></span></td>
  <td>Sum:<span id="kredit_sum"></span></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"><span id="diffDebitkredit"></span></td>
</tr>
</table>



<div style="clear:both;"></div>

<input type="submit" value="Submit" />

<div style="float:left;width:300px;height:300px">
  <table>
  {{bilag_file_form}}
  </table>
  <ul id="dropbox-file-list"></ul>
</div>

<div id="pdf_div" style="float:left;width:600px;height:300"></div>




</form>

<script>
function update(){
  var debit = 0;
  $(".debit > input").each(function(){
    if(this.value){
      var v = parseFloat(this.value.replace(",","."));
      debit += v;
      this.value = v.toFixed(2);  
      deactivateTwinField(this,true);
    }else{
      deactivateTwinField(this,false)
    }
  });
  $("#debit_sum").text(debit.toFixed(2));
  var kredit = 0;
  $(".kredit > input").each(function(){
    if(this.value){
      var v = parseFloat(this.value);
      kredit += v;
      this.value = v.toFixed(2);
      deactivateTwinField(this,true);
    }else{
      deactivateTwinField(this,false);
    }
  });
  $("#kredit_sum").text(kredit.toFixed(2));
  if(debit - kredit != 0){
    $("#diffDebitkredit").text("Error " + (debit-kredit).toFixed(2)).show();
  }else{
    $("#diffDebitkredit").hide();
  }
  return debit-kredit;
}
/* get a reference to the similar field debit->kredit kredit->debit */
function deactivateTwinField(feld, disabled){
  feld = feld.parentNode
  if(feld.className == "innslag debit"){
    do feld = feld.nextSibling;
    while(feld.nodeType != 1);
  }else{
    do feld = feld.previousSibling;
    while(feld.nodeType != 1);
  }
  feld.children[0].disabled = disabled;
}

function balance(){
  var row = this.attributes['row'].value
  // zero this row
  var d = $("#id_innslag-"+row+"-debit")[0];
  d.value = "";
  var c = $("#id_innslag-"+row+"-kredit")[0];
  c.value = "";
  var diff = update();
  if(diff<0){
    d.value = (-diff).toFixed(2);
  }else if(diff > 0){
    c.value = diff.toFixed(2);
  }
  update();// ensure the difference warning is removed
}
function colorGrid(){
  var konto = parseInt(this.options[this.selectedIndex].text.charAt(0));
  //clear all colors
  var node = this.parentNode.nextElementSibling;
  if (konto > 4){
    konto = 4;
  }
  for(i = 1; i<5; i++){
    if(konto == i){
      node.style.backgroundColor = "red";
    }else{
      node.style.backgroundColor = "";
    }
    node = node.nextElementSibling;
  }
}

$(document).ready(function(){
  $(".kontoRow").each(function(){
      var searchField = $(this).children('.kontoSokField').children('input')[0];
      var kontoList = $(this).children('.kontoSelect').children('select')[0];
      var debetField = $(this).children('.debit').children('input')[0];
      SelectSearchBox.init(searchField, kontoList, debetField);
      });
  $(".innslag").change(update);
  $(".balance-row").click(balance);
  $(".kontoSelect > select").change(colorGrid);
  $("#id_bilag-dato").datepicker({
    altField:"#id_bilag-dato",
    altFormat:"yy-mm-dd",
    changeMonth: true,
    changeYear: true,
  });

  $("#id_external-id").autocompleteFill({
    'server-url'  : "/regnskap/registrer/{{prosjekt.navn}}/externalActorJSON",
    'match_order' : ['name', 'email', 'adress'],
    'prefix'      : "id_external-",
  });

  var ul = $("#dropbox-file-list");
  var form = $("#id_files-dropbox")[0];
  ul.load("/regnskap/registrer/uploadsJSON",function(){
    form.disabled = true;
    form.value = "";
    var update = function(e){
      var t = e.target;
      var v = form.value.split(";");
      if(v[0] == ""){
        v.shift();//remove first element
      }
      if(t.checked){
        v.push(t.defaultValue)
      }else{
        v.splice(v.indexOf(t.defaultValue),1);
      }
      form.value = v.join(";");
    }
    ul.find("input").each(function(){
      update({'target':this});
    });
    ul.change(update)
    var tmp = new PDFObject({'url':'ehm-not inn use'});
    if(tmp.get("pluginTypeFound")){
      ul.find("a").click(function(e){
        var t = e.target;
        if(t.attributes['xmimetype'].value != 'application/pdf'){
          return true; // do not change non pdf links
        }
        var pObj = new PDFObject({ 
          url: t.attributes['href'].value,
          pdfOpenParams: {
            navpanes: 0,
            toolbar: 0,
            statusbar: 0,
            view: "FitV"
          }
        });
        pObj.embed("pdf_div")
        
        return false;
      });
    }
  });
});
  
</script>
{% endblock %}