{% extends "base.html" %}

{% block title %}Registrering av billag {% endblock %}

{% block content %}
<form action="{{url}}" method="post">{% csrf_token %}

<table>
<tr>
  <th>Dato</th><td>{{bilagform.dato}} {{bilagform.dato.errors}}</td>
</tr>
<tr>
  <th>Kommentar</th><td>{{bilagform.kommentar}} {{bilagform.dato.errors}}</td>
</tr>
</table>
{{ innslagform.management_form }}
<table>
<tr><th colspan="5">Innslag</th></tr>
<tr>
    <th>S&oslash;k</th>
    <th>Eiendeler 1XX</th>
    <th>Egenkaptial/Gjeld 2XX</th>
    <th>Inntekt 3XX</th>
    <th>Kostnad 4XX - 8XX</th>
    <th>Debet</th>
    <th>Kredit</th>
</tr>
{% for innslag in innslagform %}
<tr>
  <td><input type="text" value="S&oslash;k etter konto"/></td>
  <td>{{ innslag.eiendeler }}</td>
  <td>{{ innslag.egenkapital_gjeld }}</td>
  <td>{{ innslag.inntekter }}</td>
  <td>{{ innslag.kostnader }}</td>
  <td class="innslag debit">{{ innslag.debit }}</td>
  <td class="innslag kredit">{{ innslag.kredit }}</td>
</tr>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Sum:<span id="debit_sum"></span></td>
  <td>Sum:<span id="kredit_sum"></span></td>
</tr>
</table>
<input type="submit" value="Submit" />
</form>

<script>
$(document).ready(function(){
  $(".innslag").change(function(){
    var debit = 0;
    $(".debit > input").each(function(){
      if(this.value){
        debit += parseFloat(this.value);
      }
    });
    $("#debit_sum").text(debit.toString());
    var kredit = 0;
    $(".kredit > input").each(function(){
      if(this.value){
        kredit += parseFloat(this.value);
      }
    });
    $("#kredit_sum").text(kredit.toString());
  });
});
  
</script>
{% endblock %}