{% extends "base.html" %}
{% block title %}{{overskrift}}{% endblock %}

{% block content %}
<h2>{{overskrift}}</h2>
<table>
  <tr>
    <th>#</th>
    <th>Dato</th>
    <th>Beskrivelse</th>
    <th>Konto</th>
    <th>Debet</th>
    <th>Kredit</th>
  </tr>
  {% for bilag in bilagYear %}
  {% for innslag in bilag.innslag.all %}
  <tr>
    {% ifchanged bilag %}
    <td rowspan="{{bilag.innslag.count}}">{{bilag.bilagsnummer}}</td>
    <td rowspan="{{bilag.innslag.count}}">{{bilag.dato|date:"j. b"}}</td>
    <td rowspan="{{bilag.innslag.count}}">{{bilag.beskrivelse}}</td>
    {% endifchanged %}
    <td>{{innslag.konto}}</td>
    <td>{{innslag.debit|default_if_none:""}}</td>
    <td>{{innslag.kredit|default_if_none:""}}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endblock %}
