<table>
  <thead>
    <tr>
      <th>Dato</th>
      <th>Melding</th>
      <th>Beløp</th>
      <th>Konto</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for draft in drafts %}
  {% if draft.belop = faktura.getOutstanding %}
  <tr style="color:green">
  {% elif draft.belop > 0 %}
  <tr style="display:none" class="fakturaBilagDraft-positive">
  {% else %}
  <tr style="display:none" class="fakturaBilagDraft-negative">
  {% endif %}

    <td>{{draft.dato}}</td>
    <td>{{draft.beskrivelse}}</td>
    <td>{{draft.belop}}</td>
    <td>{{draft.konto}}</td>
    <td>
      <a href="/regnskap/registrer/{{faktura.prosjekt}}/?content_type={{faktura.content_type.pk}}&object_id={{faktura.pk}}&bilag_draft_id={{draft.id}}">
        Rediger bilag
      </a>
    </td>
    <td>
      {% if draft.belop = faktura.getOutstanding %}
        <form action="/faktura/draft/{{faktura.id}}/{{draft.id}}" method="POST">
          {% csrf_token %}
            <input type="submit" value="Registrer uendret"> 
        </form>
      {%endif%}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<ul>
  <li><a href="#" onclick="$('.fakturaBilagDraft-positive').toggle()">Vis andre innbetalinger</a></li>
  <li><a href="#" onclick="$('.fakturaBilagDraft-negative').toggle()">Vis utbetalinger (eg refusjoner)</a></li>
</ul>
