{% extends "base.html" %}

{% block title %}Faktura {{faktura.number}}{% endblock %}

{% block content %}
<h1>Faktura {{faktura.getNumber}}<small>({{faktura.getStatus}})</small></h1>

<div style="float:right">
  <h3>Logg:</h3>
  <ul>
    {% for item in faktura.data.log %}
    <li>{{item}}</li>
    {% endfor %}
  </ul>
</div>

<div style="float:right">
  <h3>Kunde:</h3>
  {{faktura.kunde.name}} (<a href="{{faktura.kunde.absolute_url}}">{{faktura.kunde.id}}</a>)<br>
  {{faktura.kunde.email}}<br>
  {{faktura.kunde.org_nr}}<br>
  {{faktura.kunde.adress|linebreaksbr}}<br>
</div>

{% if faktura.status == 0 %}
<h2>Fakturaen er kladdet</h2>
for å ferdigstille trykk
<form method="POST" action="/faktura/send">
  <input type="hidden" name="faktura_id" value="{{faktura.id}}"/>
  {% csrf_token %}
  <input type="submit" value="Fikser og send faktura"/>
</form>
Alternaltivt kan du slette den.


{% endif %}
{% if faktura.status == 1 %}
<h2>Fakturaen har nå status sendt</h2>
og du har alternaltiver
<ul>
  <li>
    <a href="/regnskap/registrer/{{faktura.prosjekt}}/?content_type={{faktura.content_type.pk}}&object_id={{faktura.pk}}">Registrer bilag</a>
  </li>
  <li>
    <a href="#" onclick="$('#fakturaBilagDraft').toggle()">Registrer innbetaling fra bilagskladd</a>
    <div id="fakturaBilagDraft" style="display:none">
      {% include "fakturaBilagDraft.html" with drafts=drafts faktura=faktura %}
    </div>
  </li>
  <script>
  $("#betaling_form_table_togle").click(function(){
    $("#betaling_form_table").show("slow");
    $(this).hide("slow").remove();
    return false; 
  });
  </script>

  <li>Lage Purring</li>
  {% include "fakturaPurring.html" with drafts=drafts faktura=faktura %}

  <li><a href="#" onclick="$('#kreditnota').toggle()">Trekk tilbake(slett)</a></li>
  <div id="kreditnota" style="display:none">
    En faktura kan ikke slettes, men det kan lages et nytt bilag (kreditnota) som reverserer effekten på regnskapet (flytter pengene tilbake)
    <form method="post" action="/faktura/kreditnota">
      {% csrf_token %}
      <input type="hidden" value="{{faktura.pk}}" name="faktura_id">
      <table id="kreditnota-table">
        <thead>
          <tr>
            <th>Vare#</th>
            <th>Tekst</th>
            <th>Pris</th>
            <th>Orignalt antall</th>
            <th>Nytt antall</th>
            <th>Sum</th>
          </tr>
        </thead>
        <tbody>
          {% for vare in faktura.fakturavare.all %}
          <tr>
            <td><a href="{{vare.vare.get_absolute_url}}">{{vare.vare.id}}</a></td>
            <td>{{vare.name}}</td>
            <td class="kreditnota-price">{{vare.price}}</td>
            <td style="color:grey">{{vare.ammount}}</td>
            <td><input type="text" name="fakturavare-{{vare.id}}" value="{{vare.ammount}}"></td>
            <td class="kreditnota-sum"></td>
          {% endfor %}
        </tbody>
        <tfoot>
          <td colspan="5"></td>
          <td id="kreditnota-totalsum"></td>
        </tfoot>
      </table>
      <script>
        var table = $("#kreditnota-table");
        function update_sum_kreditnota_table(){
          table.find("input").each(function(){ 
            var $input = $(this);
            var tr = $input.closest("tr");
            var ammount = parseFloat($input.val().replace(",","."));
            if(isNaN(ammount) && $input.val()!=ammount) $input.val(ammount);
            var price = parseFloat(tr.children(".kreditnota-price").text());
            tr.children(".kreditnota-sum").text(ammount*price);
          });
          var sum = 0;
          table.find(".kreditnota-sum").each(function(){
            sum += parseFloat($(this).text());
          });
          $("#kreditnota-totalsum").text(sum);
        }
        update_sum_kreditnota_table();
        table.click(update_sum_kreditnota_table);
        table.focus(update_sum_kreditnota_table);
        table.blur(update_sum_kreditnota_table);
        table.change(update_sum_kreditnota_table);
        table.keyup(update_sum_kreditnota_table);
      </script>
      <input type="submit" value="Lag kreditnota">
    </form>
  </div>
</ul>

{% endif %}
{% if faktura.status == 2 %}
<h2>Det har blitt generert purring</h2>
<ul>
  <li>Registrer betaling</li>
  <li>Send til Inkasso(kansje)</li>
  <li>Trekk tilbake(slett)</li>
</ul>
{% endif %}
{% if faktura.status == 3 %}
<h2>Fakturaen er sendt til Inkasso</h2>
Dette blir neppe implementert
{% endif %}
{% if faktura.status == 4 %}
<h2>Denne fakturaen er registrert betalt</h2>
Her kan det legges inn mer info om betalingen
{% endif %}
{% if faktura.status == 5 %}
<h2>Fakturaen er trukket tilbake</h2>
Hvis regnskapsperioden fakturaen var ført på blir regningen dermed ført som tap. Ellers blir det lagt inn et nytt billag som opphever fordringen.
{% endif %}

<table>
  <tr>
    <th>Vare#</th>
    <th>Test</th>
    <th>Mengde</th>
    <th>Pris</th>
    <th>Sum</th>
  </tr>
  {% for vare in faktura.fakturavare.all %}
  <tr>
    <td><a href="{{vare.vare.get_absolute_url}}">{{vare.vare.id}}</a></td>
    <td>{{vare.name}}</td>
    <td>{{vare.ammount}}</td>
    <td>{{vare.price}}</td>
    <td>{{vare.totalPrice}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="4"></td>
    <td>{{faktura.totalPrice}}</td>
  </tr>
</table>
  
<h2>Bilagsføring for denne faktura:<small><a href="/regnskap/registrer/{{faktura.prosjekt}}/?content_type={{faktura.content_type.pk}}&object_id={{faktura.pk}}" title="Før billag knyttet til denne fakturaen">+</a></small></h2>

{% include "include/bilagDebitKredit.html" with related_kontos=related_kontos bilags=bilags %}

<p>Totalt utestående: {{faktura.getOutstanding}}</p>
<p><a href="/faktura/generate/{{faktura.id}}">Generer faktura pdf her</a></p>

<div id="pdf_div" style="width:800px;height:800"></div>

<script>
  var tmp = new PDFObject({'url':'ehm-not inn use'});
  if(tmp.get("pluginTypeFound")){
    var pObj = new PDFObject({ 
      url: "/faktura/generate/{{faktura.id}}",
      pdfOpenParams: {
        navpanes: 0,
        toolbar: 0,
        statusbar: 0,
        view: "FitV"
      }
    });
    pObj.embed("pdf_div");
  }
</script>

{% endblock %}
