{% extends "base.html" %}
{% block title %}Registrering av bilag fra kontoutskrift på {{prosjekt.navn}}{% endblock %}

{% block content %}
<h1>Registrering av bilag fra kontoutskrift på {{prosjekt.navn}}</h1>

<textarea id="csv_inn" style="width:100%;height:50%" placeholder="Lim inn CSV innput her">
</textarea>
<form method="POST" action="">
<table>
{{metadata_form}}
</table>

<input type="submit">

{%csrf_token%}
{{row_formset.management_form}}
<table>
    <thead>
        <tr>
            <th>Inaktiv</th>
            <th>Date</th>
            <th>Text</th>
            <th>Beløp</th>
        </tr>
    </thead>
    <tbody id="table_body_bilag">
    {% for row in row_formset %}
        <tr>
            <td>{{row.DELETE.errors}}{{row.DELETE}}</td>
            <td>{{row.date.errors}}{{row.date}}</td>
            <td>{{row.text.errors}}{{row.text}}</td>
            <td>{{row.ammount.errors}}{{row.ammount}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>

<script>
//remove kontos from other prjects
var r1 = /^(\d+) \w+\/(.+)$/;
var r2 = /^(\d+) {{prosjekt.navn}}\/(.+)$/;
$("#id_metadata-konto").children().each(function(){
    if(r1.test(this.innerText)){
        if(r2.test(this.innerText)){
            this.innerText = this.innerText.replace(r2,"$1 $2");
        }else{
            this.remove();
        }
    }  
});

function update_form(){
    var data = $("#csv_inn").val().trim();
    var first_row = data.split("\n")[0];
    if(first_row == "Bokført\tRentedato\tTekstkode\tBeskrivelse\tBeløp\tArkivref.\tMotkonto"){
        var values = sp_sor(data);
    } else if(first_row == "Bokført;Rentedato;Tekstkode;Beskrivelse;Ut av konto;Inn på konto;Arkivref.;Motkonto"){
        var values = simon(data);
    } else if (first_row.startsWith("// KONTO")){
        var values = marius_dnb(data);
    }else{
        var values = [{
            date:"Ingen gjenkjennte",
            text: "Kontoutskriftformater",
            ammount: "",
            DELETE: true,
        }]
    }
    var i = 0;
    while (i < values.length){
        $("#id_rows-"+i+"-date").parent().parent()[0].hidden = false;
        $("#id_rows-"+i+"-date").val(values[i].date);
        $("#id_rows-"+i+"-text").val(values[i].text);
        $("#id_rows-"+i+"-DELETE").prop("checked", values[i].DELETE);
        $("#id_rows-"+i+"-ammount").val(values[i].ammount);
        i++;
    }
    
    // Hide the remaining forms
    var TOTAL_FORMS = parseInt($("#id_rows-TOTAL_FORMS").val(),10);
    while(i<TOTAL_FORMS){
        $("#id_rows-"+i+"-date").parent().parent()[0].hidden = true;
        $("#id_rows-"+i+"-DELETE").prop("checked", true);
        $("#id_rows-"+i+"-date").val("");
        $("#id_rows-"+i+"-text").val("");
        $("#id_rows-"+i+"-ammount").val("");
        i++;
    }

}

var date_regex = /^([0123]\d)\.([01]\d)\.(2[012]\d\d)$/g;

function marius_dnb(data){
    var rows = data.split("\n");
    var values = [];
    for(var i in rows){
        var row = rows[i].split("\t");
        var text = "";
        var date = "";
        var DELETE = true;
        var ammount = "";
        if(row.length == 3){
            if(date_regex.test(row[0])){
                DELETE = false;
                date = row[0].replace(date_regex,"$3-$2-$1");
            }else{
                date = row[0];
            }
            text = row[2];
            ammount = row[1];
        }
        values.push({
            date: date,
            text: text,
            ammount: ammount,
            DELETE: DELETE,
        })
    }
    return values;
}

function simon(data){
    var rows = data.split("\n");
    var values = [];
    for(var i in rows){
        var row = rows[i].split(";");
        var text = "";
        var date = "";
        var DELETE = true;
        var ammount = "";
        if(row.length == 8){
            if(date_regex.test(row[0])){
                DELETE = false;
                date = row[0].replace(date_regex,"$3-$2-$1");
           }else{
               date = row[0];
           }
           text = row[2]+ " " + row[3] + " " + row[7];
           ammount = row[4]=="" ? row[5].replace(",",".") : row[4].replace(",",".");
        }
        values.push({
            date: date,
            text: text,
            ammount: ammount,
            DELETE: DELETE,
        })
    }
    return values;
}

function sp_sor(data){
    var rows = data.split("\n");
    var values = [];
    for(var i in rows){
        var row = rows[i].split("\t");
        var text = "";
        var date = "";
        var DELETE = true;
        var ammount = "";
        if(row.length == 7){
            if(date_regex.test(row[0])){
                DELETE = false;
                date = row[0].replace(date_regex,"$3-$2-$1");
            }else{
                date = row[0];
            }
            text = row[2]+ " " + row[3] + " " + row[6];
            ammount = row[4].replace(",",".");
        }
        values.push({
            date: date,
            text: text,
            ammount: ammount,
            DELETE: DELETE,
        })
    }
    return values;
}
$("#csv_inn").change(update_form);
$(update_form);
</script>
{% endblock %}
